.about-section {
  background-color: var(--section-bg);
  padding-top: 64px;
}

@media screen and (min-width: 768px) {
  .about-section {
    background-color: var(--white);
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.about-container {
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .about-container {
    padding: 0px 32px;
  }
}

.about-info-wrapper {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .about-info-wrapper {
    padding: 36px 64px;
    margin-bottom: 30px;
    background-color: var(--section-bg);
  }
}

.about-title {
  display: flex;
  max-width: 124px;
  align-items: center;
  gap: 20px;
  color: var(--blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-title {
    display: inline-flex;
  }
}

.about-title::before {
  display: block;
  content: '';
  width: 30px;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--blue);
}

.about-subtitle {
  max-width: 343px;
  font-size: 28px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-subtitle {
    max-width: 576px;
    font-size: 32px;
    line-height: 1.4;
    text-transform: uppercase;
  }
}

.about-subtitle-text {
  max-width: 343px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-subtitle-text {
    max-width: 576px;
    font-size: 18px;
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-direction: row;
    gap: 33px;
  }
}

.about-item-statistic {
  max-width: 170px;
  color: var(--blue);
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.about-item-text {
  max-width: 170px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-item-text {
    font-size: 18px;
  }
}

.about-image-wrapper {
}

.about-image {
}
