/* ----------SECTION CLIENT REVIEWS------------- */
.client-reviews {
  background-color: var(--section-bg);
  padding-top: 36px;
  padding-bottom: 36px;
}

@media only screen and (min-width: 1440px) {
  .client-reviews {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.client-reviews-container {
  color: var(--blue);
  background-color: var(--section-bg);
}

.client-reviews-container .subtitle {
  text-align: center;
  margin-bottom: 30px;
}

.client-reviews-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}
@media only screen and (min-width: 1440px) {
  .client-reviews-list {
    gap: 24px;
  }
}
.client-reviews-item {
  display: none;
  width: 344px;
  border-radius: 8px;
  background: var(--white, #fff);
  background-color: var(--white);
  padding: 24px;
  box-shadow: var(--shadow);
}
@media only screen and (min-width: 1440px) {
  .client-reviews-item {
    width: 424px;
    padding: 32px;
  }
}
.client-reviews-item:first-child {
  display: block;
}
@media only screen and (min-width: 768px) {
  .client-reviews-item:nth-child(2n) {
    display: block;
  }
}
@media only screen and (min-width: 1440px) {
  .client-reviews-item:nth-child(3n) {
    display: block;
  }
}

.client-reviews-item-block {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .client-reviews-item-block {
    margin-bottom: 14px;
  }
}
@media only screen and (min-width: 1440px) {
  .client-reviews-item-block {
    margin-bottom: 16px;
  }
}
.client-name {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .clients-name {
    line-height: 2.25;
    font-size: 20px;
    margin-bottom: 4px;
  }
}
.clients-last-visit {
  font-size: 14px;
  line-height: 1.3;
  color: rgba(10, 34, 74, 0.8);
}
@media only screen and (min-width: 768px) {
  .clients-last-visit {
    line-height: 1.5;
    font-size: 16px;
  }
}
.client-review-text {
  font-size: 14px;
  line-height: 1.4;
}
@media only screen and (min-width: 768px) {
  .client-review-text {
    font-size: 18px;
    line-height: 1.5;
  }
}
