footer {
  background-color: var(--blue);
}

.footer-container {
  padding-top: 36px;
  padding-bottom: 16px;
  position: relative;
}

@media only screen and (min-width: 767.98px) {
  .footer-container {
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-container {
    padding: 36px 60px;
  }
}
.footer-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
@media only screen and (min-width: 767.98px) {
  .footer-first {
    margin-bottom: 32px;
  }
}
.footer-logo {
  fill: var(--white);
}

.footer-nav {
    margin-bottom: 36px;
}
@media only screen and (min-width: 767.98px) {
  .footer-nav {
    position: absolute;
    top: 36px;
    left: 400px;
    padding: 8px;
    margin-bottom: 0px;

  }
}
@media only screen and (min-width: 1440px) {
  .footer-nav {
    top: 44px;
    left: 404px;
    padding: 8px;
  }
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media only screen and (min-width: 1440px) {
    .footer-nav-list {
        flex-direction: row;
        gap: 30px;
      }
}
.footer-nav-item {
}
.footer-nav-link {
  color: var(--white);
  font-size: 16px;
}
@media only screen and (min-width: 767.98px) {
  .footer-nav-link {
    font-size: 18px;
  }
  
}
.footer-soc-list {
  display: flex;
  gap: 16px;
}
@media only screen and (min-width: 1440px) {
  .footer-soc-list {
    gap: 30px;
  }
}
.footer-soc-item {
}
.footer-soc-link {
}
.footer-icons {
  fill: var(--white);
}
@media only screen and (min-width: 767.98px) {
  .footer-icons {
    width: 40px;
    height: 40px;
  }
}
.footer-address {
}
@media only screen and (min-width: 1440px) {
    .footer-address {
        display: flex;
        margin-bottom: 35px;
    }
}

.footer-address-map {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 35px;
}
@media only screen and (min-width: 767.98px) {
  .footer-address-map {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1440px) {
    .footer-address-map {
        margin-bottom: 0px;
        margin-right: 87px;
      }
}
.address-map-item {
}
.address-map-link {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01em;
}
@media only screen and (min-width: 767.98px) {
  .address-map-link {
    font-size: 19px;
  }
}

.footer-address-tel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 64px;
}
@media only screen and (min-width: 767.98px) {
  .footer-address-tel {
    margin-bottom: 24px;
    
  }
}
@media only screen and (min-width: 1440px) {
    .footer-address-tel {
        margin-bottom: 0px;
        margin-right: 82px;
      }
}
.address-tel-item {
}
.address-tel-link {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01em;
}
@media only screen and (min-width: 767.98px) {
    .address-tel-link {
      font-size: 19px;
    }
  }
.address-email {
  display: none;
}
@media only screen and (min-width: 767.98px) {
  .address-email {
    display: block;
    color: var(--white);
    font-size: 19px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.01em;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1440px) {
    .address-email {
        margin-bottom: 0px;

    }
}

.footer-box {
}
.footer-text {
  opacity: 0.6;
  color: var(--white);
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.1em;
  text-align: center;
}
@media only screen and (min-width: 767.98px) {
  .footer-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.07em;
  }
}

.footer-service {
}
.footer-link {
  text-decoration-line: underline;
}
.footer-privacy {
}
