/* ======================mobile-header=========== */

header {
  background-color: var(--section-bg);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 16px;
  position: relative;
}

.header-nav {
  display: none;
}

.header-nav-list {
  display: flex;
}

.header-mobile-btn-order {
  display: block;
  align-items: center;
  margin-left: auto;
  padding-top: 28px;
  padding-bottom: 28px;
  border: none;
  background-color: transparent;
}

.header-mobile-btn-order :hover,
.header-mobile-btn-order :focus {
  background-color: transparent;
}

/* =============================-----header-mobile------///// ----END------ /////============================= */


/* ---------------xxxxxxxxxxxx tablet header xxxxxxxxxxxxxxx------------------ */

@media only screen and (min-width: 767.98px) {
  .header-menu-btn-order-icon {
    width: 40px;
    height: 40px;
  }
}



/* -x-x-x- header desktop -x-x-x- */

@media only screen and (min-width: 1440px) {

  .header-mobile-btn-order {
    display: none;

  }
  .header-nav {
    display: flex;
  }

  .header-nav-list {
    display: flex;
  align-items: center;
  gap: 30px;
  }
}