/* ======================mobile-header=========== */

header {
  background-color: var(--section-bg);
}

.header-logo-icon {
  stroke: #0a224a;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-nav {
  display: none;
}

.header-nav-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  stroke: #0a224a;
}

.burger-btn:hover,
.burger-btn:focus {
  background-color: transparent;
}

/* =============================-----header-mobile------///// ----END------ /////============================= */

/* =======================x Tablet x=========================== */

@media only screen and (min-width: 767.98px) {
  .burger-btn {
    width: 40px;
    height: 40px;
  }
  
}

/* -x-x-x- header desktop -x-x-x- */

@media only screen and (min-width: 1440px) {
  .header-container {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .header-menu-link {
    padding: 8px;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
