.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    
    gap: 114px;
    padding-bottom: 0px;
    
    /* visibility: hidden; */
    transform: translateY(100%); 
    background-color: var(--white: #ffffff);
  }

  .wrap-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-bg);

  }

  .mobile-menu-close-icon {
    background-color: transparent;
    border: none;
    stroke: #0A224A;

  }