.products-section {
}
.container {
}
.products-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .products-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.products-title {
  text-align: center;
  margin-bottom: 33px;
}
@media only screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 30px;
  }
}
.products-list {
}
@media only screen and (min-width: 768px) {
  .products-list {
    display: flex;
    gap: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .products-list {
    gap: 24px;
  }
}

.products-item {
  position: relative;
  box-shadow: var(--shadow);
}

@media only screen and (max-width: 767px) {
  .products-item:nth-child(n + 2) {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .products-item {
    width: calc((100% - 16px) / 2);
  }
  .products-item:nth-child(n + 3) {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .products-item:nth-child(n + 3) {
    display: block;
  }
  .products-item {
    width: calc((100% - 72px) / 4);
  }
}
.products-link {

}
.backdrop-wrapper {
  position: relative;
  overflow: hidden;
}
.products-img {
  width: 100%;
  filter: blur(0);
}
.products-item:hover .products-img {
  filter: blur(4px);

}


.backdrop-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 40px;
  font-style: italic;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  text-align: center;
  transform: translateY(100%);
  transition: transform var(--time) var(--cubic);
}
.products-item:hover .backdrop-text {
  transform: translateY(0);
}
.products-item:focus .backdrop-text {
  transform: translateY(0);
}
.box-subtitle {
  padding: 15px;
}
.products-subtitle {
  /* margin-top: 16px; */
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .products-subtitle {
    /* margin-top: 15px; */
    font-size: 18px;
  }
}
