/* -----------SECTION PRICE--------- */
.price {
  padding-top: 64px;
  padding-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .price {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .price {
    margin: 0 auto;
    max-width: 1216px;
  }
}
.price-item {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--blue);
}
.price-item:last-child {
  border-bottom: 1px solid var(--blue);
}
.price-link {
  position: relative;
  padding: 30px 100px 30px 0;
  text-transform: uppercase;
  transform: translateX(1px);
  transition: transform 500ms var(--cubic);
}
@media only screen and (max-width: 320px) {
  .price-link {
    font-size: 28px;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 768px) {
  .price-link {
    font-size: 32px;
    line-height: 1.4;
  }
}
.price-link::before {
  position: absolute;
  top: 50%;
  left: -50px;
  content: '';
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: var(--blue);
  margin-right: 15px;
  opacity: 0;
  transition: opacity var(--time) var(--cubic),
    transform var(--time) var(--cubic);
}
.price-link:hover::before,
.price-link:hover::before {
  opacity: 1;
}
.price-link:hover,
.price-link:focus {
  transform: translateX(50px);
}

.price-cost {
  position: static;
  font-size: 16px;
  color: var(--blue);
  font-weight: 700;
  line-height: 1.5;
  margin-left: auto;
  text-transform: none;
}
@media only screen and (min-width: 768px) {
  .price-cost {
    font-size: 18px;
  }
}
