.section-subscription {
    padding-top: 64px;
    padding-bottom: 64px;
}
@media screen and (min-width:768px){
    .section-subscription {
        padding-top: 100px;
        padding-bottom: 100px;
    } 
}

@media screen and (min-width:1440px) {
    .section-subscription {
        padding-top: 100px;
        padding-bottom: 86px;
    }
}
@media screen and (max-width: 767.98px){
 .subscription-container {
    margin-bottom: 30px;
}   
}

@media screen and (min-width:768px) and (min-width: 1439.98px) {
    .subscription-container {
        margin-bottom: 64px 
    }
}
@media screen and (min-width: 1440px) {
    .subscription-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.title-subscription {
    margin-bottom: 20px;
}
 @media screen and (max-width: 375px) {
  .title-subscription {
    text-align: center;}
}  
@media screen and (min-width: 768px){
    .title-subscription {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1440px) {
    .form-desktop {
        margin-right: 100px;
    }
}

.subscription-text {
margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
    .subscription-text {
        max-width: 536px;
    } 
}

@media screen and (min-width:768px) {
    .form-label{
    max-width: 536px;    
    }
    
}

.form-label {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.form-input {
    color: var(--light-gray); 
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    border: 1px solid var(--gray);
    outline: transparent;
    transition: fill var(--time) var(--cubic);
    width: 100%;
    height: 50px;
}

@media screen and (min-width:768px)  {
    .form-input{
        width: 100%;
    }
    
}

.form-input::placeholder {
color: var(--light-gray);
}
.form-input:focus {
    color: var(--blue);
    border: 1px solid var(--blue);
}
.form-input:not(:placeholder-shown):required:invalid {
    color: #E74A3B;
    border: 1px solid #E74A3B
}

.form-input:not(:placeholder-shown):required:valid {
    color: var(--blue);
    border: 1px solid var(--blue)
}
.form-container {
    margin-bottom: 30px;
    position: relative;

}
@media screen and (min-width: 768px) {
    .form-container {
}
}

.form-icon {
    position: absolute;
    top: 50%;
  right: 20px;
  transform: translateY(-50%) scale(0.2);
  opacity: 0;
  pointer-events: none;
  fill: #E74A3B;
  transition: opacity var(--time) var(--cubic);
}

.form-input input:valid + .form-icon {
    opacity: 0;
}

.form-input:not(:placeholder-shown):required:invalid + .form-icon {
    opacity: 1;
    transform: translateY(-50%);
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
}

.form-icon-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; 
    height: 25px; 
    border: 1px solid var(--dark-grey);
    margin-right: 8px;
    transition: background-color var(--time) var(--cubic);
}

.form-checkbox:checked + .checkbox-text .form-icon-span {
    background-color: var(--blue);
    border: none;
}

.checkbox-text {
    color: var(--dark-grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.subscription-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}


@media screen and (min-width: 1440px) {
    .subscription-image picture img {
      width: 460px;
      height: 410px;
    }
}

@media screen and (min-width: 768px) {
    .subscription-image picture img {
      max-width: 704px;
      height: auto;
    }
}

@media screen and (max-width: 767.98px) {
    .subscription-image picture img {
      max-width: 343px;
      height: auto;
    }
  }
