.section-subscription {
    padding-top: 64px;
    padding-bottom: 64px;
}
@media (min-width:768px){
    .section-subscription {
        padding-top: 100px;
        padding-bottom: 100px;
    } 
}

.title-subscription {
    text-align: center;
}

@media (min-width:768px) {
    .title-subscription {
        text-align: left;
    }
}
.subscription-text {
    color: var(--blue);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-top: 20px;
margin-bottom: 30px;
}

.form-label {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.form-input {
    color: var(--light-gray); 
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    border: 1px solid var(--gray);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 50px;
}

@media (min-width:768px) {
    .form-input{
        width: 536px;
    }
    
}

.form-input::placeholder {
color: var(--light-gray);
}
.form-input:focus {
    color: var(--blue);
    border: 1px solid var(--blue);
}
.form-input:not(:placeholder-shown):required:invalid {
    color: #E74A3B;
    border: 1px solid #E74A3B
}

.form-input:not(:placeholder-shown):required:valid {
    color: var(--blue);
    border: 1px solid var(--blue)
}
.form-container {
    margin-bottom: 20px;
    position: relative;
}

.form-icon {
    position: absolute;
    top: 50%;
  right: 20px;
  transform: translateY(-50%) scale(0.2);
  opacity: 0;
  pointer-events: none;
  fill: #E74A3B;
  transition: opacity 400ms transform 400ms;
}

@media (min-width:768px) {
    .form-icon {
        right: 188px;
    }
}

.form-input input:valid + .form-icon {
    opacity: 0;
}

.form-input:not(:placeholder-shown):required:invalid + .form-icon {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
}

.form-icon-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; 
    height: 25px; 
    border: 1px solid var(--dark-grey);
    margin-right: 8px;
}

.form-icon-span svg {
    width: 13px; 
    height: 13px;
}

.form-checkbox:checked + .checkbox-text .form-icon-span {
    background-color: var(--blue);
    border: none;
}

.checkbox-text {
    color: var(--dark-grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.subscription-image {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}