<section class="about-section" id="about-us">
  <div class="about-container container">
    <div class="about-info-wrapper">
      <h2 class="about-title">About us</h2>
      <h3 class="about-subtitle subtitle">
        Our craftsmanship: creating unique handmade furniture
      </h3>
      <p class="about-subtitle-text">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-list">
        <li class="about-list-item">
          <p class="about-item-statistic">5+</p>
          <p class="about-item-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-item-statistic">100%</p>
          <p class="about-item-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-item-statistic">500+</p>
          <p class="about-item-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <div class="about-image-wrapper">
      <picture>
        <!-- desktop screen -->
        <source
          media="(min-width:1440px)"
          srcset="
            ./img/about/img-1_desk.jpg    1x,
            ./img/about/img-1_desk@2x.jpg 2x
          "
          width="536"
          height="540"
        />
        <!-- tablet screen -->
        <source
          media="(min-width:768px)"
          srcset="./img/about/img-1_tab.jpg 1x, ./img/about/img-1_tab@2x.jpg 2x"
          width="704"
          height="540"
        />
        <!-- phone screen -->
        <source
          media="(max-width:767.98px)"
          srcset="./img/about/img-1_mob.jpg 1x, ./img/about/img-1_mob@2x.jpg 2x"
          width="375"
          height="400"
        />
        <img
          class="about-image"
          src="./img/about/img-1_tab.jpg"
          alt="Part of interior with sofa and high chair"
          width="704"
          height="540"
        />
      </picture>
    </div>
  </div>
</section>
