<section class="about-section">
  <div class="about-container container">
    <div class="about-info-wrapper">
      <h2 class="about-title">About us</h2>
      <h3 class="about-subtitle subtitle">
        Our craftsmanship: creating unique handmade furniture
      </h3>
      <p class="about-subtitle-text">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-list">
        <li class="about-list-item">
          <p class="about-item-statistic">5+</p>
          <p class="about-item-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-item-statistic">100%</p>
          <p class="about-item-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-item-statistic">500+</p>
          <p class="about-item-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <div class="about-image-wrapper">
      <img
        class="about-image"
        srcset="./img/about/img-1_mob.jpg 1x, ./img/about/img-1_mob@2x.jpg 2x"
        src="./img/about/img-1_mob.jpg"
        width="375"
        height="400"
        alt="Part of interior with sofa and high chair"
      />
    </div>
  </div>
</section>
