<section class="bestsellers-section">
  <div class="container">
    <h2 class="bestsellers-section-title">Bestsellers</h2>
    <div class="main-bestseller-wrapper">
      <img class="main-bestseller-image" src="" alt="Bedroom" />
      <h3 class="main-bestseller-title">The modern platform bed</h3>
      <p class="main-bestseller-price">750$</p>
    </div>

    <div class="other-bestsellers-wrapper">
      <ul class="other-bestsellers-list">
        <li class="other-bestsellers-item">
          <img class="other-bestsellers-image" src="" alt="Lounge chairs" />
          <h3 class="other-bestsellers-title">The Cozy Lounge Chair</h3>
          <p class="other-bestsellers-price">230$</p>
        </li>
        <li class="other-bestsellers-item">
          <img class="other-bestsellers-image" src="" alt="Industrial chair" />
          <h3 class="other-bestsellers-title">The industrial accent chair</h3>
          <p class="other-bestsellers-price">250$</p>
        </li>
        <li class="other-bestsellers-item bestsellers-item-hidden">
          <img class="other-bestsellers-image" src="" alt="Stand" />
          <h3 class="other-bestsellers-title">The sleek stand</h3>
          <p class="other-bestsellers-price">300$</p>
        </li>
        <li class="other-bestsellers-item bestsellers-item-hidden">
          <img class="other-bestsellers-image" src="" alt="Sofa" />
          <h3 class="other-bestsellers-title">The minimalist sofa</h3>
          <p class="other-bestsellers-price">650$</p>
        </li>
      </ul>
    </div>
  </div>
</section>
