<section class="bestsellers-section scrollto" id="bestsellers">
  <div class="container bestsellers-container">
    <h2 class="bestsellers-section-title subtitle">Bestsellers</h2>
    <div class="all-bestsellers-wrapper">
      <div class="main-bestseller-wrapper">
        <picture>
          <!-- desktop screen -->
          <source media="(min-width:1440px)" srcset="
              ./img/bestseller/img-1_desk.jpg    1x,
              ./img/bestseller/img-1_desk@2x.jpg 2x
            " width="536" height="489" />
          <!-- tablet screen -->
          <source media="(min-width:768px)" srcset="
              ./img/bestseller/img-1_tab.jpg    1x,
              ./img/bestseller/img-1_tab@2x.jpg 2x
            " width="704" height="489" />
          <!-- phone screen -->
          <source media="(max-width:767.98px)" srcset="
              ./img/bestseller/img-1_mob.jpg    1x,
              ./img/bestseller/img-1_mob@2x.jpg 2x
            " width="343" height="193" />
          <img class="main-bestseller-image" src="./img/bestseller/img-1_tab.jpg" alt="Bedroom" width="704"
            height="489" />
        </picture>
        <h3 class="main-bestseller-title">The modern platform bed</h3>
        <p class="main-bestseller-price">750$</p>
      </div>

      <!-- <div class="other-bestsellers-wrapper"> -->
      <ul class="other-bestsellers-list">
        <li class="other-bestsellers-item">
          <picture>
            <!-- desktop screen -->
            <source media="(min-width:1440px)" srcset="
                ./img/bestseller/img-2_desk.jpg    1x,
                ./img/bestseller/img-2_desk@2x.jpg 2x
              " width="258" height="193" />
            <!-- tablet screen -->
            <source media="(min-width:768px)" srcset="
                ./img/bestseller/img-2_tab.jpg    1x,
                ./img/bestseller/img-2_tab@2x.jpg 2x
              " width="336" height="193" />
            <!-- phone screen -->
            <source media="(max-width:767.98px)" srcset="
                ./img/bestseller/img-2_mob.jpg    1x,
                ./img/bestseller/img-2_mob@2x.jpg 2x
              " width="343" height="193" />
            <img class="other-bestsellers-image" src="./img/bestseller/img-2_mob.jpg" alt="Lounge chairs" width="343"
              height="193" />
          </picture>
          <h3 class="other-bestsellers-title">The Cozy Lounge Chair</h3>
          <p class="other-bestsellers-price">230$</p>
        </li>
        <li class="other-bestsellers-item">
          <picture>
            <!-- desktop screen -->
            <source media="(min-width:1440px)" srcset="
                ./img/bestseller/img-3_desk.jpg    1x,
                ./img/bestseller/img-3_desk@2x.jpg 2x
              " width="258" height="193" />
            <!-- tablet screen -->
            <source media="(min-width:768px)" srcset="
                ./img/bestseller/img-3_tab.jpg    1x,
                ./img/bestseller/img-3_tab@2x.jpg 2x
              " width="336" height="193" />
            <!-- phone screen -->
            <source media="(max-width:767.98px)" srcset="
                ./img/bestseller/img-3_mob.jpg    1x,
                ./img/bestseller/img-3_mob@2x.jpg 2x
              " width="343" height="193" />
            <img class="other-bestsellers-image" src="./img/bestseller/img-3_mob.jpg" alt="Industrial chair" width="343"
              height="193" />
          </picture>
          <h3 class="other-bestsellers-title">The industrial accent chair</h3>
          <p class="other-bestsellers-price">250$</p>
        </li>
        <li class="other-bestsellers-item bestsellers-item-hidden">
          <picture>
            <!-- desktop screen -->
            <source media="(min-width:1440px)" srcset="
                ./img/bestseller/img-4_desk.jpg    1x,
                ./img/bestseller/img-4_desk@2x.jpg 2x
              " width="258" height="193" />
            <!-- tablet screen -->
            <source media="(min-width:768px)" srcset="
                ./img/bestseller/img-4_tab.jpg    1x,
                ./img/bestseller/img-4_tab@2x.jpg 2x
              " width="336" height="193" />
            <img class="other-bestsellers-image" src="./img/bestseller/img-4_tab.jpg" alt="Stand" width="336"
              height="193" />
          </picture>
          <h3 class="other-bestsellers-title">The sleek stand</h3>
          <p class="other-bestsellers-price">300$</p>
        </li>
        <li class="other-bestsellers-item bestsellers-item-hidden">
          <picture>
            <!-- desktop screen -->
            <source media="(min-width:1440px)" srcset="
                ./img/bestseller/img-5_desk.jpg    1x,
                ./img/bestseller/img-5_desk@2x.jpg 2x
              " width="258" height="193" />
            <!-- tablet screen -->
            <source media="(min-width:768px)" srcset="
                ./img/bestseller/img-5_tab.jpg    1x,
                ./img/bestseller/img-5_tab@2x.jpg 2x
              " width="336" height="193" />
            <img class="other-bestsellers-image" src="./img/bestseller/img-5_tab.jpg" alt="Sofa" width="336"
              height="193" />
          </picture>
          <h3 class="other-bestsellers-title">The minimalist sofa</h3>
          <p class="other-bestsellers-price">650$</p>
        </li>
      </ul>
    </div>
    <!-- </div> -->
  </div>
</section>