<section class="client-reviews scrollto" id="reviews">
    <div class="container client-reviews-container">
        <h2 class="subtitle">Clients reviews</h2>
        <ul class="client-reviews-list">
            <li class="client-reviews-item">
                <div class="client-reviews-item-block">
                    <picture>
                        <!-- desktop screen -->
                        <source media="(min-width:1440px)"
                            srcset="./img/client/img-1_desk.png 1x, ./img/client/img-1_desk@2x.png 2x" width="56">

                        <!-- tablet screen -->
                        <source media="(min-width:768px)"
                            srcset="./img/client/img-1_tab.png 1x, ./img/client/img-1_tab@2x.png 2x" width="56">

                        <!-- phone screen -->
                        <source media="(max-width:767.98px)"
                            srcset="./img/client/img-1_mob.png 1x, ./img/client/img-1_mob@2x.png 2x" width="48">

                        <img src="./img/client/img-1_desk.png" alt="clients-avatar" width="56">
                    </picture>
                    <div class="client-reviews-text-wrapper">
                        <p class="client-name">Alexandra dream</p>
                        <span class="clients-last-visit">1 week ago</span>
                    </div>
                </div>
                <p class="client-review-text">I was blown away by the quality and craftsmanship of the furniture I
                    received from this company. Each piece was unique and beautifully designed, and you can tell that a
                    lot of thought and care goes into every detail. </p>
            </li>
            <li class="client-reviews-item">
                <div class="client-reviews-item-block">
                    <picture>
                        <!-- desktop screen -->
                        <source media="(min-width:1440px)"
                            srcset="./img/client/img-2_desk.png 1x, ./img/client/img-2_desk@2x.png 2x" width="56">

                        <!-- tablet screen -->
                        <source media="(min-width:768px)"
                            srcset="./img/client/img-2_tab.png 1x, ./img/client/img-2_tab@2x.png 2x" width="56">

                        <img src="./img/client/img-2_desk.png" alt="clients-avatar" width="56">
                    </picture>
                    <div class="client-reviews-text-wrapper">
                        <p class="client-name">James Williams </p>
                        <span class="clients-last-visit">A week ago</span>
                    </div>
                </div>
                <p class="client-review-text">The "Minimal" furniture set is a fantastic addition to my home. It
                    boasts
                    a minimalist design, enhancing the feel and look of my living space. The sturdy construction is
                    worth noting too, which speaks volumes about its durability. </p>

            </li>
            <li class="client-reviews-item">
                <div class="client-reviews-item-block">
                    <picture>
                        <!-- desktop screen -->
                        <source media="(min-width:1440px)"
                            srcset="./img/client/img-3_desk.png 1x, ./img/client/img-3_desk@2x.png 2x" width="56">

                        <img src="./img/client/img-3_desk.png" alt="clients-avatar" width="56">
                    </picture>
                    <div class="client-reviews-text-wrapper">
                        <p class="client-name">Emily Watson</p>
                        <span class="clients-last-visit">3 week ago</span>
                    </div>
                </div>
                <p class="client-review-text">The "Minimal" furniture set has far exceeded my expectations. The
                    sleek
                    design combined with the high-quality materials have not only added an exceptional aesthetic to
                    my
                    space but also offered an uncompromising standard of comfort.</p>

            </li>
        </ul>
    </div>
</section>