<div class="container footer-container" id="contacts">
  <div class="footer-first">
    <a class="logo-link" href="./index.html">
      <svg class="footer-logo logo" width="100" height="16">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="footer-soc-list">
      <li class="footer-soc-item">
        <a
          class="footer-soc-link"
          rel="noopener noreferrer"
          target="_blank"
          href="https://uk-ua.facebook.com/"
          aria-label="Facebook icon"
        >
          <svg class="footer-icons" width="28" height="28">
            <use href="./img/sprite.svg#icon-facebook-logo"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a
          class="footer-soc-link"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.instagram.com/"
          aria-label="Instagram icon"
        >
          <svg class="footer-icons" width="28" height="28">
            <use href="./img/sprite.svg#icon-instagram-logo"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a
          class="footer-soc-link"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.youtube.com/"
          aria-label="Youtube icon"
        >
          <svg class="footer-icons" width="28" height="28">
            <use href="./img/sprite.svg#icon-youtube-logo"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <nav class="footer-nav">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#about-us">About us</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#products">Our products</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#prices">Prices</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#bestsellers">Bestsellers</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" target="_blank" href="#reviews">Reviews</a>
      </li>
    </ul>
  </nav>

  <address class="footer-address">
    <ul class="footer-address-map">
      <li class="address-map-item">
        <a
          class="address-map-link"
          target="_blank"
          href="https://goo.gl/maps/BCJT5GUQSQiAQSPH6"
        >
          Obolonsky Prospect, 14, Kyiv
        </a>
      </li>
      <li class="address-map-item">
        <p class="address-map-link">Daily 10:00-21:00</p>
      </li>
    </ul>

    <ul class="footer-address-tel">
      <li class="address-tel-item">
        <a class="address-tel-link" target="_blank" href="tel:+380669384758"
          >+380669384758</a
        >
      </li>
      <li class="address-tel-item">
        <a class="address-tel-link" target="_blank" href="tel:+380679384758"
          >+380679384758</a
        >
      </li>
    </ul>

    <a
      class="address-email"
      target="_blank"
      href="mailto:minimal.furniture@gmail.com"
    >
      minimal.furniture@gmail.com
    </a>
  </address>
  <div class="footer-box">
    <p class="footer-text">
      By using this website, you agree to the
        <a class="footer-link" href="#">Terms of Service</a>
      and
        <a class="footer-link" href="#">Privacy Policy</a>
    </p>
  </div>
</div>
