<div class="container footer-container">
  <div class="footer-first">
    <svg class="footer-logo logo" width="100" height="16">
      <use href="../img/sprite.svg#icon-logo"></use>
    </svg>
    <ul class="footer-soc-list">
      <li class="footer-soc-item">
        <a
          target="_blank"
          href="https://uk-ua.facebook.com/"
          class="footer-soc-link"
        >
          <svg class="footer-icons" width="28" height="28">
            <use href="../img/sprite.svg#icon-facebook-logo"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a
          target="_blank"
          href="https://www.instagram.com/"
          class="footer-soc-link"
        >
          <svg class="footer-icons" width="28" height="28">
            <use href="../img/sprite.svg#icon-instagram-logo"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a
          target="_blank"
          href="https://www.youtube.com/"
          class="footer-soc-link"
        >
          <svg class="footer-icons" width="28" height="28">
            <use href="../img/sprite.svg#icon-youtube-logo"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <nav class="footer-nav">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a href="#about-us" class="footer-nav-link">About us</a>
      </li>
      <li class="footer-nav-item">
        <a href="#products" class="footer-nav-link">Our products</a>
      </li>
      <li class="footer-nav-item">
        <a href="#prices" class="footer-nav-link">Prices</a>
      </li>
      <li class="footer-nav-item">
        <a href="#bestsellers" class="footer-nav-link">Bestsellers</a>
      </li>
      <li class="footer-nav-item">
        <a target="_blank" href="#reviews" class="footer-nav-link">Reviews</a>
      </li>
    </ul>
  </nav>

  <address class="footer-address">
    <ul class="footer-address-map">
      <li class="address-map-item">
        <a
          class="address-map-link"
          target="_blank"
          href="https://goo.gl/maps/BCJT5GUQSQiAQSPH6"
        >
          Obolonsky Prospect, 14, Kyiv
        </a>
      </li>
      <li class="address-map-item">
        <p class="address-map-link" class="address-map-item">
          Daily 10:00-21:00
        </p>
      </li>
    </ul>

    <ul class="footer-address-tel">
      <li class="address-tel-item">
        <a class="address-tel-link" target="_blank" href="tel:+380669384758"
          >+380669384758</a
        >
      </li>
      <li class="address-tel-item">
        <a class="address-tel-link" target="_blank" href="tel:+380679384758"
          >+380679384758</a
        >
      </li>
    </ul>

    <a
      class="address-email"
      target="_blank"
      href="mailto:minimal.furniture@gmail.com"
    >
      minimal.furniture@gmail.com
    </a>
  </address>
  <div class="footer-box">
    <p class="footer-text">
      By using this website, you agree to the
      <span class="footer-service">
        <a href="#" class="footer-link">Terms of Service</a>
      </span>
      and
      <span class="footer-privacy">
        <a href="" class="footer-link">Privacy Policy</a>
      </span>
    </p>
  </div>
</div>
