<header class="page-header">


    <div class="header-content">


   
      <svg class="logo-svg"
      width="127" height="16">
        <use href=""></use>
        <a class="logo" href="#">minimal</a> 
      </svg>
      
   
    
      
        <nav class="menu-nav">
           
          <ul class="menu-list">
              <li class="menu-list-item">
                  <a
          class=""
          href=""
          >About us</a
        ></li>
              <li class="menu-list-item">
                  <a
          class=""
          href=""
          >Our products</a
        ></li>
              <li class="menu-list-item">
                  <a
          class=""
          href=""
          >Prices</a
        ></li>
              <li class="">
                  <a
          class=""
          href=""
          >Bestsellers</a
        ></li>
              <li class="menu-list-item">
                  <a
          class=""
          href=""
          >Reviews</a
        ></li>
              <li class="menu-list-item">
                  <a
          class=""
          href=""
          >Contacts</a
        ></li>
          </ul>
      </nav>
      
            
         
    </div>

  </header>