<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="wrap-header">
    <svg class="header-logo-icon" width="100" height="16" aria-label="logo">
      <a class="header-logo link" href="./index.html"></a>
      <use href="./img/sprite.svg#icon-logo"></use>
    </svg>
    <button class="mobile-menu-close-btn js-close-menu" type="button">
      <svg class="mobile-menu-close-icon" width="32" height="32" aria-label="close mobile menu icon">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>
  </div>

  <nav class="mobile-menu-navigation">
    <ul class="mobile-menu-nav-list list">
      <li class="mobile-menu-nav-list-item close-mob-menu">
        <a class="mobile-menu-link" href="#about-us">About us</a>
      </li>
      <li class="mobile-menu-nav-list-item close-mob-menu">
        <a class="mobile-menu-link" href="#products">Our products</a>
      </li>
      <li class="mobile-menu-nav-list-item close-mob-menu">
        <a class="mobile-menu-link" href="#prices">Prices</a>
      </li>
      <li class="mobile-menu-nav-list-item close-mob-menu">
        <a class="mobile-menu-link" href="#bestsellers">Bestsellers</a>
      </li>
      <li class="mobile-menu-nav-list-item close-mob-menu">
        <a class="mobile-menu-link" href="#reviews">Reviews</a>
      </li>
      <li class="mobile-menu-nav-list-item close-mob-menu">
        <a class="mobile-menu-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
</div>