<section class="products-section scrollto" id="products">
  <div class="container products-container">
    <h2 class="products-title subtitle">OUR PRODUCTS</h2>
    <ul class="products-list">
      <li class="products-item">
        <a href="#" class="products-link">
          <div class="backdrop-wrapper">
            <picture>
              <!-- desktop screen -->
              <source media="(min-width:1440px)" srcset="
                  ./img/product/img-1_desk.jpg    1x,
                  ./img/product/img-1_desk@2x.jpg 2x
                " width="343" height="300" />
              <!-- tablet screen -->
              <source media="(min-width:768px)" srcset="
                  ./img/product/img-1_tab.jpg    1x,
                  ./img/product/img-1_tab@2x.jpg 2x
                " width="344" height="300" />
              <!-- phone screen -->
              <source media="(max-width:767.98px)" srcset="
                  ./img/product/img-1_mob.jpg    1x,
                  ./img/product/img-1_mob@2x.jpg 2x
                " width="312" height="300" />
              <img class="products-img" src="./img/product/img-1_desk.jpg" loading="lazy" alt="products-" width="343" height="300" />
            </picture>
            <p class="backdrop-text">
              DRESSERS <br />
              from 300$
            </p>
          </div>
          <div class="box-subtitle">
            <h3 class="products-subtitle">Minimalist storage solutions</h3>
          </div>
        </a>
      </li>
      <li class="products-item">
        <a href="#" class="products-link">
          <div class="backdrop-wrapper">
            <picture>
              <!-- desktop screen -->
              <source media="(min-width:1440px)" srcset="
                  ./img/product/img-2_desk.jpg    1x,
                  ./img/product/img-2_desk@2x.jpg 2x
                " width="343" height="300" />
              <!-- tablet screen -->
              <source media="(min-width:768px)" srcset="
                  ./img/product/img-2_tab.jpg    1x,
                  ./img/product/img-2_tab@2x.jpg 2x
                " width="344" height="300" />
              <!-- phone screen -->
              <source media="(max-width:767.98px)" srcset="
                  ./img/product/img-2_mob.jpg    1x,
                  ./img/product/img-2_mob@2x.jpg 2x
                " width="312" height="300" />
              <img class="products-img" src="./img/product/img-2_desk.jpg" loading="lazy" alt="products-" width="343" height="300" />
            </picture>
            <p class="backdrop-text">
              SOFAS <br />
              from 500$
            </p>
          </div>
          <div class="box-subtitle">
            <h3 class="products-subtitle">Handcrafted minimalist seating</h3>
          </div>
        </a>
      </li>
      <li class="products-item">
        <a href="#" class="products-link">
          <div class="backdrop-wrapper">
            <picture>
              <!-- desktop screen -->
              <source media="(min-width:1440px)" srcset="
                  ./img/product/img-3_desk.jpg    1x,
                  ./img/product/img-3_desk@2x.jpg 2x
                " width="343" height="300" />
              <!-- tablet screen -->
              <source media="(min-width:768px)" srcset="
                  ./img/product/img-3_tab.jpg    1x,
                  ./img/product/img-3_tab@2x.jpg 2x
                " width="344" height="300" />
              <!-- phone screen -->
              <source media="(max-width:767.98px)" srcset="
                  ./img/product/img-3_mob.jpg    1x,
                  ./img/product/img-3_mob@2x.jpg 2x
                " width="312" height="300" />
              <img class="products-img" src="./img/product/img-3_desk.jpg" loading="lazy" alt="products-" width="343" height="300" />
            </picture>
            <p class="backdrop-text">
              TABLES <br />
              from 250$
            </p>
          </div>
          <div class="box-subtitle">
            <h3 class="products-subtitle">Sleek and simple tables</h3>
          </div>
        </a>
      </li>
      <li class="products-item">
        <a href="#" class="products-link">
          <div class="backdrop-wrapper">
            <picture>
              <!-- desktop screen -->
              <source media="(min-width:1440px)" srcset="
                  ./img/product/img-4_desk.jpg    1x,
                  ./img/product/img-4_desk@2x.jpg 2x
                " width="343" height="300" />
              <!-- tablet screen -->
              <source media="(min-width:768px)" srcset="
                  ./img/product/img-4_tab.jpg    1x,
                  ./img/product/img-4_tab@2x.jpg 2x
                " width="344" height="300" />
              <!-- phone screen -->
              <source media="(max-width:767.98px)" srcset="
                  ./img/product/img-4_mob.jpg    1x,
                  ./img/product/img-4_mob@2x.jpg 2x
                " width="312" height="300" />
              <img class="products-img" src="./img/product/img-4_desk.jpg" loading="lazy" alt="products-" width="343" height="300" />
            </picture>
            <p class="backdrop-text">
              CHAIRS <br />
              from 200$
            </p>
          </div>
          <div class="box-subtitle">
            <h3 class="products-subtitle">
              Minimalist seating for every space
            </h3>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>