<section>
    <div class="container price-container">
        <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
        <div class="price-container-block">
            <a class="price-container-block-title" href="#">
                Chairs
            </a>
            <span class="price-container-block-price">
                from 200$
            </span>
        </div>
        <div class="price-container-block">
            <a class="price-container-block-title" href="#">
                Tables
            </a>
            <span class="price-container-block-price">
                from 250$
            </span>
        </div>
        <div class="price-container-block">
            <a class="price-container-block-title" href="#">
                Dressers
            </a>
            <span class="price-container-block-price">
                from 300$
            </span>
        </div>
        <div class="price-container-block">
            <a class="price-container-block-title" href="#">
                Sofas
            </a>
            <span class="price-container-block-price">
                from 500$
            </span>
        </div>
    </div>
</section>