<section class="price scrollto" id="prices">
    <div class="container price-container">
        <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
        <ul class="price-block">
            <li class="price-item">
                <a class="price-link" href="#">Chairs
                    <span class="price-cost">from 200$</span>
                </a>
            </li>
            <li class="price-item">
                <a class="price-link" href="#">Tables
                    <span class="price-cost">from 250$</span>
                </a>
            </li>
            <li class="price-item">
                <a class="price-link" href="#">Dressers
                    <span class="price-cost">from 300$</span>
                </a>
            </li>
            <li class="price-item">
                <a class="price-link" href="#">Sofas
                    <span class="price-cost">from 500$</span>
                </a>
            </li>
        </ul>
    </div>
</section>