<section>
    <div class="container price-container">
        <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
        <ul class="price-container-block">
            <li class="price-container-block-title" href="#">Chairs</li>
            <li class="price-container-block-price">from 200$</li>
        </ul>
        <ul class="price-container-block">
            <li class="price-container-block-title" href="#">Tables</li>
            <li class="price-container-block-price">from 250$</li>
        </ul>
        <ul class="price-container-block">
            <li class="price-container-block-title" href="#">Dressers</li>
            <li class="price-container-block-price">from 300$</li>
        </ul>
        <ul class="price-container-block">
            <li class="price-container-block-title" href="#">Sofas</li>
            <li class="price-container-block-price"> from 500$ </li>
        </ul>
    </div>
</section>